/*  --- GENERAL ---- */

* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-pink: #ee9972;
  --secondary-skin: #fbdabb;
  --secondary-light: #edefee;
  --secondary-dark: #333333;
  scroll-behavior: smooth;
}

h1 {
  font-family: "Markazi Text", serif;
  font-size: 54pt;
  font-weight: normal;
}
h2 {
  font-family: "Markazi Text", serif;
  font-size: 30pt;
  font-weight: lighter;
}
button {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  padding: 7px 25px;
  border-radius: 16px;
  margin-top: 10px;
  background-color: var(--primary-yellow);
  border: none;
}

button:hover {
  background-color: var(--secondary-skin);
}

/* --- HEADER --- */

header {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1.5rem 0;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.navbar > li > a {
  text-decoration: none;
}
a {
  padding: 5px;
  font-weight: bold;
}
.hamburger {
  display: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

@media only screen and (max-width: 950px) {
  .hamburger {
    display: block;
  }
  .navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    display: none;
  }
}

/* --- HERO SECTION --- */
.hero-container {
  background-color: var(--primary-green);
}
.hero-section {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.hero-article {
  width: 40%;
}
.hero-title {
  color: var(--primary-yellow);
  line-height: 40px;
}

.hero-subtitle,
.hero-description {
  color: var(--secondary-light);
}
.hero-description {
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 10px;
}

figure {
  position: relative;
}

figure > img {
  position: absolute;
  top: 10px;
  right: 0px;

  width: 300px;
  height: 320px;
  border-radius: 16px;
}
@media only screen and (max-width: 950px) {
  .hero-article {
    width: 45%;
  }
  figure > img {
    position: relative;
    margin-left: 20px;
    display: flex;
    width: 75%;
    object-fit: cover;
    border-radius: 16px;
  }
}

/* --- SPECIALS SECTION --- */
.specials-container {
  width: 80vw;
  max-width: 1000px;
  margin: 120px auto 50px auto;
}
.specials-header {
  display: flex;
  justify-content: space-between;
}
.specials-title {
  font-size: 50px;
}
.cards-container {
  display: flex;
  justify-content: space-between;
}
.card-container {
  margin-top: 50px;
  width: 250px;
  background-color: var(--secondary-light);
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
}

.image-container {
  width: 100%;
  height: 60%;
}

.card-image {
  width: 100%;
  min-height: 200px;
  object-fit: cover;
}

.card-text-container {
  height: 100%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-family: "Markazi", serif;
}
.card-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-price {
  color: var(--secondary-pink);
  font-weight: bold;
}
.card-description {
  margin-top: 30px;
  margin-bottom: 50px;
  color: var(--primary-green);
}
.card-order {
  font-weight: bold;
  margin-bottom: 15px;
}

@media only screen and (max-width: 950px) {
  .specials-header {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .cards-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* --- TESTIMONIALS SECTION --- */
.testimonials-container {
  padding: 50px 0 20px 0;
  background-color: var(--secondary-skin);
}
.testimonials-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
}

.testimonial-box-container {
  width: 80vw;
  max-width: 1000px;
  margin: 20px auto 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 0;
}
.testimonial-box {
  background-color: var(--secondary-light);
  box-sizing: border-box;
  padding: 10px;
  width: 22%;
}
.testimonial-photo-text-container {
  display: flex;
}
.testimonial-photo {
  margin-right: 5px;
  width: 60px;
}
.testimonial-rating {
  margin-top: 10px;
}

@media only screen and (max-width: 950px) {
  .testimonial-box {
    width: 200px;
  }
  .testimonial-box-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-around;
  }
}

/* --- ABOUT SECTION --- */
.about-container {
  width: 80vw;
  max-width: 1000px;
  margin: 100px auto 200px auto;
}
.about-section {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.about-article {
  width: 40%;
}
.about-title {
  color: var(--primary-yellow);
  line-height: 40px;
}

.about-subtitle,
.about-description {
  color: var(--secondary-dark);
}
.about-description {
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 10px;
}

.about-image {
  width: 400px;
  object-fit: cover;
}

@media only screen and (max-width: 950px) {
  .about-container {
    height: 100%;
  }
  .about-section {
    flex-direction: column;
    justify-content: space-between;
  }
  .about-article {
    width: 100%;
  }
  .about-image {
    width: 80%;
    border-radius: 16px;
    margin: 50px 40px 0 0;
  }
}

/* --- FOOTER --- */
.footer {
  padding: 0;
  background-color: var(--primary-green);
}
.footer-container {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px 0;
}
.footer-social {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  width: 33%;
}
.social {
  font-size: 30px;
  color: var(--secondary-light);
  display: block;
  padding: 0 10px;
}
.address {
  color: var(--secondary-light);
  font-size: 18px;
  width: 33%;
  text-align: center;
}
.footer-logo {
  scale: 50%;
  width: 33%;
  object-fit: contain;
  padding-left: 40px;
}

@media only screen and (max-width: 950px) {
  .footer-container {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
  }
  .footer-logo {
    justify-content: center;
    width: 250px;
    margin-top: 15px;
    padding-left: 0;
  }
  .footer-social {
    justify-content: center;
  }
}

/* --- BOOKING PAGE --- */
.bookingPageBody {
  background-color: var(--primary-yellow);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bookingPageHeader {
  width: 300px;
  text-align: center;
  background-color: var(--primary-green);
  color: var(--secondary-light);
  padding: 20px 100%;
  margin-bottom: 20px;
}

.bookingMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 50px;
  color: var(--secondary-dark);
}

.bookingPagePhoto {
  margin: 50px 0;
  width: 400px;
}

.form-container {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
}
.booking-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  gap: 10px;
}
input,
label,
select {
  font-family: "Karla", sans-serif;
  font-size: larger;
}

.button {
  font-size: 18px;
  font-weight: bolder;
  padding: 7px 25px;
  border-radius: 16px;
  margin-top: 30px;
  color: var(--secondary-light);
  background-color: var(--primary-green);
  border: none;
}

.button:hover {
  color: var(--secondary-dark);
  background-color: var(--secondary-skin);
}

@media only screen and (max-width: 950px) {
  .bookingMain {
    display: block;
  }
  .bookingPagePhoto {
    margin: 30px 0;
    width: 400px;
  }
}

@media only screen and (max-width: 550px) {
  .bookingPagePhoto {
    width: 250px;
  }
  .booking-form {
    width: 250px;
  }
}
