/*  --- GENERAL ---- */

* {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
}

:root {
  --primary-green: #495e57;
  --primary-yellow: #f4ce14;
  --secondary-pink: #ee9972;
  --secondary-skin: #fbdabb;
  --secondary-light: #edefee;
  --secondary-dark: #333333;
}

body {
  /* padding: 20px 120px; */
  /* width: 80vw;
  max-width: 1000px;
  margin: 0 auto; */
}

h1 {
  font-family: "Markazi Text", serif;
  font-size: 54pt;
  font-weight: normal;
}
h2 {
  font-family: "Markazi Text", serif;
  font-size: 30pt;
  font-weight: lighter;
}
button {
  font-family: "Karla", sans-serif;
  font-size: 18px;
  font-weight: bolder;
  padding: 7px 15px;
  border-radius: 16px;
  margin-top: 10px;
  background-color: var(--primary-yellow);
  border: none;
}

button:hover {
  background-color: var(--secondary-skin);
}

/* --- HEADER --- */

header {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1.5rem 0;
}

.navbar {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
.navbar > li > a {
  text-decoration: none;
}
a {
  padding: 5px;
  font-weight: bold;
}
.hamburger {
  display: none;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}

/* --- HERO SECTION --- */
.hero-container {
  background-color: var(--primary-green);
}
.hero-section {
  width: 80vw;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.hero-article {
  width: 40%;
}
.hero-title {
  color: var(--primary-yellow);
  line-height: 40px;
}

.hero-subtitle,
.hero-description {
  color: var(--secondary-light);
}
.hero-description {
  font-family: "Karla", sans-serif;
  font-weight: bolder;
  font-size: 18px;
  margin-top: 10px;
}

figure {
  position: relative;
}

figure > img {
  position: absolute;
  top: 10px;
  right: 0px;

  width: 300px;
  height: 320px;
  border-radius: 16px;
}

/* --- SPECIALS SECTION --- */
.specials-container {
  width: 80vw;
  max-width: 1000px;
  margin: 120px auto;
}
.specials-header {
  display: flex;
  justify-content: space-between;
}
.specials-title {
  font-size: 50px;
}
.card-container {
  margin-top: 50px;
  width: 250px;
  background-color: rgb(234, 233, 233);
  overflow: hidden;
  border-radius: 16px 16px 0 0;
  display: flex;
  flex-direction: column;
}
.card-text-container {
  padding: 20px;
}
.card-title {
  font-family: "Markazi", serif;
}
.card-first-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-price {
  color: var(--secondary-pink);
  font-weight: bold;
}
.card-description {
  margin-top: 30px;
  margin-bottom: 50px;
  color: var(--primary-green);
}
.card-order {
  font-weight: bold;
  margin-bottom: 20px;
}
